<div class="goods_list">
    <ul class="clearfix">
        {{#each this}}
        <li>
            <a href="/goodsDetails/{{id}}" target="_blank">
                <img src="{{slt}}" class="goods_pic">
                <p class="desc">{{goodsname}}</p>
                <div class="price">
                    <span class="f-l">￥{{price}}</span>
                    <div class="like f-l"></div>
                    <!-- <div class="addCart f-r">加入采购单</div> -->
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
