<div class="header">
    <div class="content_w clearfix">
        <div class="logo f-l">
            <img src="/imgs/logo.png" alt="logo"/>
        </div>
        <div class="search f-l">
            <div class="search_input">
                <input type="text"/>
                <a href="javascript:;" class="search_btn">搜索</a>
            </div>
            <p class="search_word">
                <a href="javascript:;">保湿精华</a>
                <a href="javascript:;">保湿水乳液</a>
                <a href="javascript:;">保湿水乳液</a>
                <a href="javascript:;">保湿水乳液</a>
            </p>
        </div>
    </div>
</div>
