<div class="topbar">
    <div class="content_w">
        <span class="welcome">欢迎光临流连优选</span>
        <img src="/imgs/slogan_1.png" class="slogan">
        <div class="f-r">
            <a href=""></a>
            <a href="javascript:;">退出</a>
        </div>
    </div>
</div>