<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/css/reset.css'/>
    <link rel='stylesheet' href='/css/base.css'/>
    <link rel='stylesheet' href='/css/public.css'/>
      {{{_sections.head}}}
  </head>
  <body>
    {{{body}}}
    <!--footer start-->
    <footer>
        <div class="footer">
            <div class="desc">
                <ul class="clearfix content_w">
                    <li>
                        <img src="/imgs/oversea.png"/>
                        海外直采
                    </li>
                    <li>
                        <img src="/imgs/zhengpin.png"/>
                        100%正品
                    </li>
                    <li>
                        <img src="/imgs/well_price.png"/>
                        价格优惠
                    </li>
                    <li>
                        <img src="/imgs/logistics.png"/>
                        合理物流方案
                    </li>
                </ul>
            </div>
            <div class="copy_right">
                <ul class="clearfix">
                    <li><a href="/#intro" target="_blank">关于流连优选</a> </li>
                    <li><a href="/#price" target="_blank">加入流连</a> </li>
                    <li><a href="/#price" target="_blank">商务合作</a> </li>
                    <li><a href="/#contact" target="_blank">帮助中心</a> </li>
                    <li><a href="/#contact" target="_blank">联系我们</a> </li>
                </ul>
                <p>联系方式：（86）0411-8813 5549 / 133 3227 7736 朴经理</p>
                <p>邮箱：b2b@llwell.net</p>
                <p>地址： 辽宁省大连市中山区五五路港湾中心2213A</p>
                <p>Copyright © 2017-2018 岂止科技(大连)有限公司 All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <!--footer end-->
  </body>
  <script src="/js/jquery.js"></script>
  {{{_sections.jquery}}}
</html>