<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/css/reset.css'/>
    <link rel='stylesheet' href='/css/base.css'/>
    <link rel='stylesheet' href='/css/public.css'/>
      {{{_sections.head}}}
  </head>
  <body>
    {{{body}}}
    <!--footer start-->
    <footer>
        <div class="footer">
            <div class="desc">
                <ul class="clearfix content_w">
                    <li>
                        <img src="/imgs/oversea.png"/>
                        海外直采
                    </li>
                    <li>
                        <img src="/imgs/zhengpin.png"/>
                        100%正品
                    </li>
                    <li>
                        <img src="/imgs/well_price.png"/>
                        价格优惠
                    </li>
                    <li>
                        <img src="/imgs/logistics.png"/>
                        快捷物流
                    </li>
                </ul>
            </div>
            <div class="copy_right">
                <ul class="clearfix">
                    <li><a href="javascript:;">关于流连优选</a> </li>
                    <li><a href="javascript:;">加入流连</a> </li>
                    <li><a href="javascript:;">商务合作</a> </li>
                    <li><a href="javascript:;">帮助中心</a> </li>
                    <li><a href="javascript:;">联系我们</a> </li>
                </ul>
                <p>联系电话：0411-8813&nbsp;5549/133&nbsp;3227&nbsp;7736&nbsp;朴经理</p>
                <p>地址:大连是星河路65A 星海大观E座33A17</p>
                <p>Cpypright@2017-1018 岂止科技（大连）有限公司 ALL Rights Reserved</p>
            </div>
        </div>
    </footer>
    <!--footer end-->
  </body>
  <script src="/js/jquery.js"></script>
  {{{_sections.jquery}}}
</html>