{{#section 'head'}}
    <title>首页</title>
    <link rel="stylesheet" href="/css/index.css">
{{/section}}

{{>topbar}}

<!--header start-->
{{>header_search}}
<!--header end-->

<!--nav start-->
<div class="nav">
    <div class="content_w clearfix">
        <div class="goods_catelog f-l">
            <a href="javascript:;" class="catelog_tit">我的商品</a>
            <div class="goods_panel none">
                <ul class="cate_level_1">
                   <li><a href="javascrpt:;">美容护肤</a></li>
                   <li><a href="javascrpt:;">2</a></li>
                   <li><a href="javascrpt:;">3</a></li>
                   <li><a href="javascrpt:;">4</a></li>
                   <li><a href="javascrpt:;">5</a></li>
                   <li><a href="javascrpt:;">6</a></li>
                   <li><a href="javascrpt:;">777</a></li>
                   <li><a href="javascrpt:;">888</a></li>
                   <li><a href="javascrpt:;">999</a></li>
                </ul>
                <div class="cate_level_2">
                    <div>
                        <div class="cate_level_3 usage clearfix">
                            <span class="cate_level_3_tit f-l">分类 ></span>
                            <div class="f-l">
                                <div>
                                    面部护理>
                                    <a href="javascript:;">面霜</a>
                                    <a href="javascript:;">洗面奶</a>
                                    <a href="javascript:;">化妆水</a>
                                </div>
                                <div>
                                    面部护理>
                                    <a href="javascript:;">面霜</a>
                                    <a href="javascript:;">洗面奶</a>
                                    <a href="javascript:;">化妆水</a>
                                </div>
                            </div>
                        </div>
                        <div class="cate_level_3 brands clearfix">
                            <span class="cate_level_3_tit f-l">品牌 ></span>
                            <div class="f-l">
                                <div>
                                    <a href="javascript:;">面霜</a>
                                </div>
                                <div>
                                    <a href="javascript:;">化妆水</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="none">2</div>
                    <div class="none">3</div>
                    <div class="none">4</div>
                    <div class="none">5</div>
                    <div class="none">6</div>
                    <div class="none">7</div>
                    <div class="none">8</div>
                    <div class="none">9</div>
                </div>
            </div>
        </div>
        <div class="role_nav f-l">
            <ul>
                <li><a href="#">商品上传</a> </li>
                <li><a href="#">我的供货单</a> </li>
                <li><a href="#">我的信息</a> </li>
            </ul>
        </div>
    </div>
</div>
<!--nav end-->

<!--filter start-->
<div class="filter content_w">
    <div class="condition">
        <span>提货：</span>
        <div>
            <a href="javascript:;">香港自提</a>
            <a href="javascript:;">海外自提</a>
            <a href="javascript:;">保税备货</a>
            <a href="javascript:;">一般贸易</a>
        </div>
    </div>
    <div class="condition">
        <span>国家：</span>
        <div>
            <a href="javascript:;">日本</a>
            <a href="javascript:;">韩国</a>
            <a href="javascript:;">乌克兰</a>
        </div>
    </div>
    <div class="condition">
        <span>分类：</span>
        <div>
            <select>
                <option>1</option>
                <option>2</option>
            </select>
            <select>
                <option>11</option>
                <option>22</option>
            </select>
        </div>
    </div>
    <div class="condition no-border">
        <span>品牌：</span>
        <div class="brands">
            <a href="javascript:;">测试</a>
            <a href="javascript:;">测试</a>
            <a href="javascript:;">测试</a>
        </div>
    </div>
</div>
<!--filter end-->

<!--results start-->
<div class="goods_results content_w">
    <div class="num">为您找到<span>80</span>件与“保健”相关的商品</div>
    <div class="sort">
        <a href="javascript:;">综合排序</a>
        <a href="javascript:;">销量<i class="icon_sort"></i></a>
        <a href="javascript:;">人气<i class="icon_sort"></i></a>
        <a href="javascript:;">价格<i class="icon_sort"></i></a>
    </div>
    <div class="goods_list">
        <ul class="clearfix">
            <li>
                <a href="javascript:;">
                    <img src="/imgs/goods.jpg" class="goods_pic">
                    <p class="desc">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                    <div class="price">￥899</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/imgs/goods.jpg" class="goods_pic">
                    <p class="desc">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                    <div class="price">￥899</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/imgs/goods.jpg" class="goods_pic">
                    <p class="desc">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                    <div class="price">￥899</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/imgs/goods.jpg" class="goods_pic">
                    <p class="desc">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                    <div class="price">￥899</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="/imgs/goods.jpg" class="goods_pic">
                    <p class="desc">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                    <div class="price">￥899</div>
                </a>
            </li>

        </ul>
    </div>
    <div class="pagenation f-r">
        <a href="javascript:;" class="last">上一页</a>
        <span class="page_num">
            <a href="javascript:;">1</a>
            <a href="javascript:;" class="on">2</a>
            <a href="javascript:;">3</a>
            <a href="javascript:;">4</a>
            <a href="javascript:;">5</a>
            <a href="javascript:;">6</a>
            <a href="javascript:;">7</a>
            <a href="javascript:;">8</a>
            <a href="javascript:;">9</a>
            <a href="javascript:;">10</a>
        </span>
        <a href="javascript:;" class="next">下一页</a>
        共10款商品，第2/10页，到第<input type="text" class="page_text"/> 页
        <a href="javascript:;" class="go_page_btn">确定</a>
    </div>
</div>
<!--results end-->
{{#section 'jquery'}}
    <script src="/js/public.js"></script>
{{/section}}



