<!DOCTYPE html>
<html lang="en">
<head>
    <title>LLWell 流连优选 | 不一样的跨境供货、采购、分销体验</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- STYLESHEET CSS FILES -->
    <link rel="stylesheet" href="/index/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index/css/animate.min.css">
    <link rel="stylesheet" href="/index/css/font-awesome.min.css">
    <link rel="stylesheet" href="/index/css/nivo-lightbox.css">
    <link rel="stylesheet" href="/index/css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="/index/css/templatemo-style.css">
    <style>
        a.btn.btn-default.smoothScroll.zhuce{
            padding: 7px 15px;
            margin-top: 7px;
            border-color: transparent;
            border-radius: 30px;
            margin-left: 20px;
            color: #ffffff;
            background-color: #d82316;
        }
        a.btn.btn-default.smoothScroll.zhuce:hover{
            background-color: #d82316;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
<!-- preloader section -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>
<!-- home section -->
<section id="home">
    <div class="container">
        <div class="row" style="background-color:rgba(255,255,255,0.7); padding: 100px;">
            <div class="col-md-12 col-sm-12">
                <h1 class="wow bounceInDown rotate" style="color:#0f1110; ">流连优选</h1>
                <h2 class="wow bounce" style="color:#0f1110; ">不一样的跨境供货、采购、分销体验</h2>
                <a href="#intro" class="btn btn-default smoothScroll">立 即 体 验</a></div>
        </div>
    </div>
</section>
<!-- navigation section -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> </button>
            <a href="#" class="navbar-brand"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/llwell-logo.png" height="50px;"></a></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home" class="smoothScroll">首页</a></li>
                <li><a href="#intro" class="smoothScroll">简介</a></li>
                <li><a href="#work" class="smoothScroll">服务</a></li>
                <li><a href="#team" class="smoothScroll">全球购</a></li>
                <li><a href="#portfolio" class="smoothScroll">品牌展示</a></li>
                <li><a href="http://b2b.llwell.net/mall" class="smoothScroll" target="_blank">商品一览</a></li>
                <li><a class="" href="http://console.llwell.net/#/user/login" target="_blank">登录</a></li>
                <li><a class="btn btn-default smoothScroll zhuce" href="#price"  style="font-size:25px">加入流连优选</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- intro section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 title">
                <h2>一切美好，源于对生活的热爱</h2>
                <hr>
                <p>流连优选(www.llwell.net)是专注于解决全球商品进出口供应链服务的跨境电商(B2B)平台，
                    为B2B跨境交易类型客户提供全套解决方案。
                    我们以“专注、专业、高效”为原则，严选全球的精致品牌商品，
                    为国内外大宗采购商和零售分销商提供“品牌多、规格全、品类丰富”的100%正品商品，
                    同时提供货物的仓储、物流配送及清关等相关服务，
                    满足客户一站式的采购需求。</p>
            </div>
        </div>
    </div>
</section>
<div class="copyrights">Collect from </div>
<!-- work section -->
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 title" >
                <h2 style="color: #d82316;">我们的服务</h2>
                <img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/team.png">
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="col-md-6 col-sm-6 bg-black"><i class="fa fa-globe"></i>
                    <h3>清关服务</h3>
                </div>
                <div class="col-md-6 col-sm-6 bg-red"> <i class="fa fa-cubes"></i>
                    <h3>仓储服务</h3>
                </div>
                <div class="col-md-6 col-sm-6 bg-red"> <i class="fa fa-car"></i>
                    <h3>物流配送服务</h3>
                </div>
                <div class="col-md-6 col-sm-6 bg-black"> <i class="fa fa-link"></i>
                    <h3>商品供应链服务</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 title">
                <h2>全球购</h2>
                <hr>
                <p>让全世界的好商品与消费者没有国界，让垂直领域里的小生意更好做. </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="0.9s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/flag_JP.jpg" class="img-responsive" alt="日本">
                <div class="team-des">
                    <h4>Japan</h4>
                    <h3>日本</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.3s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/flag_korea.jpg" class="img-responsive" alt="韩国">
                <div class="team-des">
                    <h4>Korea</h4>
                    <h3>韩国</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/flag_Ukraine.jpg" class="img-responsive" alt="乌克兰">
                <div class="team-des">
                    <h4>Ukraine</h4>
                    <h3>乌克兰</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/flag_US.jpg" class="img-responsive" alt="美国">
                <div class="team-des">
                    <h4>U.S</h4>
                    <h3>美国</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.8s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/flag_Austra.png" class="img-responsive" alt="澳洲">
                <div class="team-des">
                    <h4>Australia</h4>
                    <h3>澳洲</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.8s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/flag_global.jpg" class="img-responsive" alt="全球">
                <div class="team-des">
                    <h4>Global</h4>
                    <h3>全球</h3>
                </div>
            </div>
            <!--<div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.8s"><img src="images/team4.jpg" class="img-responsive" alt="欧洲">-->
            <!--<div class="team-des">-->
            <!--<h4>European</h4>-->
            <!--<h3>欧洲</h3>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>
<!-- portfolio section -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 title">
                <h2>品牌展示</h2>
                <hr>
                <p>品质生活来流连优选，享受真正的海外本土产品。 </p>
            </div>
            <div class="col-md-12 col-sm-12"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_D_29.png"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_DOSHISHA.png"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_FERNANDA.png"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_Policy.png"></div>

            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_Kao.png"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_LION.png"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_RoRoBEE.png"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_Rozebe.png"></div>

            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_shishido.png"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_SK2.png"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_Veppin.png"></div>
            <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/brand_ELFA-PHARM.png"></div>

            <!--<div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title1.png" data-lightbox-gallery="portfolio-gallery"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title1.png" alt="portfolio img"></a></div>-->
            <!--<div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title2.png" data-lightbox-gallery="portfolio-gallery"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title2.png" alt="portfolio img"></a></div>-->
            <!--<div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title3.png" data-lightbox-gallery="portfolio-gallery"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title3.png" alt="portfolio img"></a></div>-->
            <!--<div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title4.png" data-lightbox-gallery="portfolio-gallery"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title4.png" alt="portfolio img"></a></div>-->
            <!--<div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title5.png" data-lightbox-gallery="portfolio-gallery"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title5.png" alt="portfolio img"></a></div>-->
            <!--<div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title6.png" data-lightbox-gallery="portfolio-gallery"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title6.png" alt="portfolio img"></a></div>-->
            <!--<div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title7.png" data-lightbox-gallery="portfolio-gallery"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title7.png" alt="portfolio img"></a></div>-->
            <!--<div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title8.png" data-lightbox-gallery="portfolio-gallery"><img src="http://ecc-product.oss-cn-beijing.aliyuncs.com/gateway/title8.png" alt="portfolio img"></a></div>-->
        </div>
    </div>
</div>
<!-- price section -->
<div id="price">
    <div class="container">
        <div class=" title">
            <h2>加入流连优选</h2>
            <hr>
            <p>流连优选面向海内外做品牌商品零售的供应商、采购商、分销商；<br>提供货物的仓储、物流配送及清关等相关服务；<br>具有高品质、低成本等优势。<br>欢迎加入我们！</p>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="plan wow bounceIn" data-wow-delay="0.3s">
                <!--<div class="plan_title">-->
                <!--<h3></h3>-->
                <!--</div>-->
                <div class="plan_sub_title">
                    <h2>供应商</h2>
                </div>
                <ul>
                    <li>商品上架管理</li>
                    <li>商品供货报价</li>
                    <li>销售订单查看</li>
                </ul>
                <!--<button class="btn btn-warning">注册为供应商</button>-->
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="plan wow bounceIn" data-wow-delay="0.6s">
                <!--<div class="plan_title">-->
                <!--<h3></h3>-->
                <!--</div>-->
                <div class="plan_sub_title"><h2>采购商</h2></div>
                <ul>
                    <li>订单和运单查看</li>
                    <li>一件代发 / 跨境O2O</li>
                    <li>批量采购和询价</li>
                </ul>
                <!--<button class="btn btn-warning">注册为采购商</button>-->
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="plan wow bounceIn" data-wow-delay="0.9s">
                <!--<div class="plan_title">-->
                <!--<h3></h3>-->
                <!--</div>-->
                <div class="plan_sub_title"><h2>代理</h2></div>
                <ul>
                
                    <li>
                    <p>* 供货代理 *</p>
                    <p>发展和管理供应商</p>
                    <p>获得管理佣金</p>
                    </li>
                    
                    <li>
                    <p>* 渠道代理 *</p>
                    <p>渠道分销商品查看</p>
                    <p>发展和管理分销商</p>
                    <p>获得渠道管理的佣金</p>
                    </li>
                </ul>
                <!--<button class="btn btn-warning">注册代理</button>-->
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="plan wow bounceIn" data-wow-delay="0.9s">
                <!--<div class="plan_title">-->
                <!--<h3></h3>-->
                <!--</div>-->
                <div class="plan_sub_title"><h2>分销商</h2></div>
                <ul>
                    <li>一键关联流连微信小程序分销</li>
                    <li>一键生成手机端H5网店</li>
                    <li>海量跨境商品  随处分销</li>
                    <li>随时随地   查看分销佣金</li>
                </ul>
                <!--<button class="btn btn-warning">注册分销商</button>-->
            </div>
        </div>

    </div>
    <a class="btn btn-default smoothScroll zhuce" href="http://console.llwell.net/#/user/register" target="_blank"
       style="font-size:30px; margin-top: 30px; width: 400px;">我要注册</a>
</div>
<!-- contact section -->
<!--<section id="contact">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 title">-->
<!--<h2>联系我们</h2>-->
<!--<hr>-->
<!--<p>您可以随时随地通过电话或邮箱方便地联系到我们。</p>-->
<!--</div>-->
<!--<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 contact-form wow fadeInUp" data-wow-delay="0.9s">-->
<!--<form action="/" method="post">-->
<!--<input type="text" class="form-control" placeholder="Your Name / 您的尊称">-->
<!--<input type="email" class="form-control" placeholder="Your Email / 您的邮箱地址">-->
<!--<textarea class="form-control" placeholder="Message / 请描述您的问题或反馈信息" rows="6"></textarea>-->
<!--<input type="submit" class="form-control" value="SEND EMAIL / 发送" onclick="return false;">-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!-- google map section -->
<!-- footer section -->
<footer>
    <div class="container">
        <div>
            <p>联系方式：（86）0411-8813 5549 / 133 3227 7736  朴经理</p>
            <p>邮箱：b2b@llwell.net</p>
            <p>地址： 辽宁省大连市中山区五五路港湾中心2213A</p>
        </div>
        <div class="col-md-12 col-sm-12 copyright">
            <p>Copyright  ©  2017-2018  岂止科技(大连)有限公司  All  Rights  Reserved</p>
        </div>
    </div>
    </div>
</footer>
<!-- JAVASCRIPT JS FILES -->
<script src="/index/js/jquery.js"></script>
<script src="/index/js/bootstrap.min.js"></script>
<script src="/index/js/nivo-lightbox.min.js"></script>
<script src="/index/js/smoothscroll.js"></script>
<script src="/index/js/jquery.sticky.js"></script>
<script src="/index/js/jquery.parallax.js"></script>
<script src="/index/js/wow.min.js"></script>
<script src="/index/js/custom.js"></script>
</body>
</html>
