{{#section 'head'}}
    <title>我的优选</title>
    <!--<link rel="stylesheet" href="/css/index.css">-->
{{/section}}

{{>topbar}}

<!--header start-->
{{>header_search}}
<!--header end-->

<!--nav start-->
{{>nav}}
<!--nav end-->

<!--results end-->
{{#section 'jquery'}}
    <script src="/js/public.js"></script>
{{/section}}