.goods_results {
  font-size: 18px;
}
.goods_results .num {
  margin: 36px 0 18px 0;
  padding-left: 30px;
  letter-spacing: 2px;
}
.goods_results .num span {
  color: #d82316;
}
.goods_results .sort {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-left: 6px solid #d82316;
  box-sizing: border-box;
  background: #f3f3f3;
  margin-bottom: 10px;
}
.goods_results .sort a {
  padding: 0 20px;
  color: #000;
}
.goods_results .pagenation {
  font-size: 18px;
  color: #424242;
  margin: 55px 0 70px 0;
}
.goods_results .pagenation a {
  color: #424242;
  padding: 0 11px;
}
.goods_results .pagenation a.on {
  color: #e62929;
}
.goods_results .pagenation .page_text,
.goods_results .pagenation .go_page_btn {
  width: 55px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #f3f3f3;
  vertical-align: middle;
  font-size: 12px;
  display: inline-block;
}
