.content {
  background: url("../imgs/login/login_bg.png") center / 100%;
  height: 538px;
}
.content .content_w {
  height: 100%;
  position: relative;
}
#loginForm {
  position: absolute;
  right: 11.45%;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  padding: 40px 50px 50px;
  border-top: 5px solid #d82316;
  background: #fff;
  box-sizing: border-box;
  /*validate 错误提示*/
}
#loginForm .title {
  font-size: 20px;
  margin-bottom: 22px;
  text-align: center;
  font-weight: bolder;
}
#loginForm .input_div {
  margin-bottom: 22px;
}
#loginForm .input_div input[name='username'],
#loginForm .input_div input[name='password'] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  padding-left: 50px;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 23px 23px;
}
#loginForm .user input {
  background-image: url(../imgs/login/icon-user.png);
}
#loginForm .password input {
  background-image: url(../imgs/login/icon-psw.png);
}
#loginForm .note {
  font-size: 14px;
}
#loginForm .note .remember {
  width: 16px;
  height: 16px;
  background: #e6e6e6;
  margin-right: 10px;
  vertical-align: middle;
}
#loginForm .note a {
  color: #465ea4;
}
#loginForm .login_btn {
  width: 100%;
  height: 38px;
  line-height: 38px;
  margin: 54px 0 34px 0;
  color: #fff;
  background: #d82316;
  text-align: center;
  display: block;
  border-radius: 5px;
}
#loginForm label.error {
  color: red;
  margin-left: 62px;
  line-height: 20px;
}
.process {
  text-align: center;
  margin-bottom: 28px;
}
.process h3 {
  height: 120px;
  line-height: 120px;
  font-size: 30px;
  color: #424242;
}
